{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

   <div>
        {{ form_label(form.category_name, 'Category Name', {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
        {{ form_widget(form.category_name, {'attr': {'class': 'mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-black'}}) }}
        {{ form_errors(form.category_name) }}
    </div>

    <div>
        {{ form_label(form.type, 'Category Type', {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
        {{ form_widget(form.type, {'attr': {'class': 'mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-black'}}) }}
        {{ form_errors(form.type) }}
    </div>

    <div class="pt-4">
        <button type="submit" class="w-full px-6 py-2 bg-green-600 text-white rounded-lg shadow hover:bg-green-700 cursor-pointer">
            ✅ Save Category
        </button>
    </div>

{{ form_end(form) }}
